{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Доска объявлений{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}?v=1" rel="stylesheet" />
</head>
<body>

    <div class="menu">
        <h3 class="menu-title">Меню</h3>
        <div class="menu-bar">
            <a href="{% url 'news' %}">Новости</a>
            <a href="{% url 'bullet' %}">Объявления</a>
            <a href="{% url 'resp' %}">Отклики</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>
